.header-spacer {
  flex: 1 1 auto;
}
.active {
  mat-icon {
    color: rgb(255, 0, 0);
    transform: scale(1.4);
  }
}
.title {
  font-size: 1.7rem;
}
.linkedIn {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hidden{
  display: none;
}
@media only screen and (max-width: 768px) {
  .active{
    color: rgb(17, 0, 255);
    background-color: rgba(228, 241, 253, 0.466);
  }
}