<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden:!(isHandset$ | async)}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="accent">
      Visualizer
      <span class="header-spacer"></span>
      <img src="assets/img/original.png" class="logo" />
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['sorting']" [routerLinkActive]="'active'"
        >Sorting</a
      >
      <a mat-list-item [routerLink]="['endorse']" [routerLinkActive]="'active'"
        >Endorse</a
      >
      <a mat-list-item (click)="openLinkedInLisho()">To My LinkedIn</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="header-spacer"></span>
      <a mat-button [routerLink]="['sorting']" [routerLinkActive]="'active'">
        <img src="assets/img/original.png" class="logo" />
        <span class="title">isualizer</span>
      </a>
      <span class="header-spacer"></span>
      <a
        mat-icon-button
        [routerLink]="['endorse']"
        [routerLinkActive]="'active'"
      >
        <mat-icon> favorite </mat-icon>
      </a>
      <button mat-icon-button>
        <img
          src="assets/img/linkedin-logo.png"
          class="linkedIn"
          (click)="openLinkedInLisho()"
        />
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
