<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header-spacer"></span>
    <a mat-button [routerLink]="['sorting']" [routerLinkActive]="'active'">
      <img src="assets/img/original.png" class="logo">
      <span class="title">isualizer</span>
    </a>
    <span class="header-spacer"></span>
    <a mat-icon-button [routerLink]="['endorse']" [routerLinkActive]="'active'">
      <mat-icon> favorite </mat-icon>
    </a>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
