<!-- <pre *ngIf="authService.userProfile$ | async as profile">
    <code>{{ profile | json }}</code>
    </pre> -->
<mat-toolbar color="primary">
  <mat-divider></mat-divider>
  <mat-toolbar-row color="primary">
    <span>Comments & Suggestions</span>
    <span class="toolbar-spacer"></span>
    <span *ngIf="authService.userProfile$ | async as profile" color="primary">
      Hi {{ profile["name"] }}
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="comment-list">
  <div class="comment" *ngFor="let item of comments">
    <img [src]="item.imgSrc" class="commenter-img" />
    <mat-card class="comment-card">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.name }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ item.comment }}</p>
      </mat-card-content>
      <mat-card-footer>
        <span class="material-icons" style="padding: 2%"> comment </span>
        <strong>{{ item.dateTime | date }}</strong>
      </mat-card-footer>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
</div>

<button mat-fab color="primary" class="create" (click)="openBottomSheet()">
  <span class="material-icons"> add </span>
</button>
<button
  mat-fab
  color="warn"
  *ngIf="isLoggedIn"
  class="logout"
  (click)="logout()"
>
  LogOut
</button>