.create {
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  transform: scale(1.4);
  span {
    transform: scale(1.4);
    color: white;
  }
}
.logout {
  position: fixed;
  bottom: 20vh;
  right: 10vw;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

