<mat-toolbar color="primary">
  <mat-divider></mat-divider>
  <mat-toolbar-row color="primary">
    <span class="suggestions-text">Comments & Suggestions</span>
    <span class="toolbar-spacer"></span>
    <span *ngIf="authService.userProfile$ | async as profile" color="primary">
      Hi, {{ profile["name"] }}
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<app-comment-list></app-comment-list>
<button
  mat-fab
  color="primary"
  class="create"
  (click)="openBottomSheet()"
  [@loginButtonState]
>
  <span class="material-icons"> add </span>
</button>
<button
  mat-fab
  color="warn"
  *ngIf="isLoggedIn"
  class="logout"
  [@logOutButtonState]
  (click)="logout()"
>
<span class="material-icons"> logout </span>
</button>
