.create {
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  transform: scale(1.4);
  span {
    transform: scale(1.4);
    color: white;
  }
}
.logout {
  position: fixed;
  bottom: 20vh;
  right: 10vw;
}
@keyframes card-animation {
  from {transform: scale(1.05);}
  to {transform: scale(1);}
}
.comment-card {
  width: 50vw;
  margin: 1rem 1rem 0 1rem;
  animation-name: card-animation;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}
mat-card-footer{
    position: sticky;
    left: 50rem;
}
.comment-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
}
.commenter-img{
  height: 15%;
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem;animation-name: card-focus-animation;
  animation-delay: .1s;
  animation-duration: .25s;
  animation-fill-mode: forwards;
  border-radius: 50%;
  outline-width: 2px;
}
.comment{
  display: flex;
  flex-direction: row;
  width: 50vw;
}

@keyframes card-focus-animation {
  from {transform: scale(1);}
  to {transform: scale(1.05);}
}
.comment-card:hover{
  z-index: 2;
  animation-name: card-focus-animation;
  animation-delay: .1s;
  animation-duration: .25s;
  animation-fill-mode: forwards;animation-name: card-focus-animation;
  animation-delay: .1s;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

mat-card-footer{
  text-align: end;
  padding-right: 2%;
  color: rgb(128, 123, 123);
}
.toolbar-spacer {
  flex: 1 1 auto;
}