.slider {
  transform: scale(1.1);
  margin: 0 3vw;

  span {
    transform: scale(2);
    margin: 20px;
  }
}

button {
  position: relative;
  top: -1vh;
  transform: scale(1.4);

  span {
    transform: scale(1.4);
  }
}
mat-slider:hover {
  cursor: grab;
}
.toolbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}
ngx-gauge {
  position: relative;
  left: 1vw;
  top: 2vh;
}
mat-button-toggle {
  background-color: blue;
  color: white;
}
mat-card {
  margin: 0 2rem;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .toolbox {
    flex-direction: column;
    position: relative;
    flex-flow: column-reverse;
    align-items: center;
    align-content: center;
  }
  button {
    transform: scale(1);
    span {
      transform: scale(1.8);
    }
  }
  ngx-gauge {
    margin-bottom: 5vh;
  }
  .slider {
    transform: scale(1.1);
    span {
      transform: scale(1);
    }
  }
}