mat-slider {
  padding: 10px;
}
.slider {
  // width: 100%;
  transform: scale(1.1);
  // flex-basis: 12%;
  margin: 30px;

  span {
    transform: scale(2);
    margin: 10px;
  }
}
.play {
  background-color: rgb(18, 11, 58);
  width: 75px;
  height: 75px;
  color: rgb(255, 0, 64);
  border-radius: 50%;
  margin: 10px;
  outline-width: 0;
  span {
    transform: scale(2);
  }
}
mat-slider:hover {
  cursor: grab;
}
.toolbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}
mat-button-toggle {
  background-color: blue;
  color: white;
}
