<mat-card>
  <mat-card-title>
    <div class="toolbox">
      <button
        [@playState]
        mat-fab
        color="warn"
        (click)="play()"
        [disabled]="sortingState == 1"
      >
        <span
          class="material-icons"
          *ngIf="sortingState == 0 || sortingState == 2"
        >
          play_arrow
        </span>
        <span class="material-icons" *ngIf="sortingState == 1"> stop </span>
      </button>
      <div class="slider" [@sliderState]>
        <span class="material-icons"> equalizer </span>
        <mat-slider
          min="10"
          max="200"
          step="1"
          color="warn"
          [value]="minSize"
          (input)="valueSliderChange($event)"
          [disabled]="sortingState == 1"
          thumbLabel
          style="width: 30vw"
        ></mat-slider>
      </div>
      <mat-accordion [@sliderState]>
        <mat-expansion-panel
          [expanded]="panelOpenState"
          (opened)="onChange(sortingMethod)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: larger; color: blue">
              {{ sortingMethod.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list *ngFor="let item of sortingMethods">
            <mat-divider></mat-divider>
            <a (click)="onChange(item)" mat-list-item>
              <span mat-line>{{ item.name }}</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <ngx-gauge
        [@meterState]
        [value]="minSize"
        size="90"
        cap="round"
        type="full"
        min="10"
        max="200"
        [thresholds]="thresholdConfig"
        label="SIZE"
        duration="1500"
        animate="true"
      ></ngx-gauge>
    </div>
  </mat-card-title>
</mat-card>
