svg {
  background-color: #161625;
  width: 100%;
  // height: 800px;
}
path:hover {
  cursor: pointer;
  fill: beige;
}
.init {
  fill: blue;
}
.check {
  fill: yellow;
}
.sorted {
  fill: red;
}
.final {
  fill: green;
}