svg {
  background-color: #161625;
  width: 100%;
}

path:hover {
  cursor: pointer;
  fill: beige;
}

.board-main {
  width: 100%;
  height: auto;
}

.sorted {
  fill: hsla(143, 100%, 51%, 0.657);
}
.idle {
  fill: rgba(7, 32, 255, 0.911);
}

.inter-one {
  fill: rgb(255, 0, 0);
}
.inter-two {
  fill: #ffee00;
}