<div class="board-main">
  <svg viewBox="0 0 300 200" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M 25 190
             h 20
             v -180
             a3,3 0 0 0 -3,-3
             h -14
             a3,3 0 0 0 -3,3
             z
             "
      [attr.fill]=[changeColor]
    />
    <path
      d="M 50 190
             h 20
             v -90
             a3,3 0 0 0 -3,-3
             h -14
             a3,3 0 0 0 -3,3
             z
             "
             [attr.fill]=[changeColor]
    />
    <path
      d="M 75 190
             h 20
             v -10
             a3,3 0 0 0 -3,-3
             h -14
             a3,3 0 0 0 -3,3
             z
             "
             [attr.fill]=[changeColor]
    />
    <path
      d="M 100 190
             h 20
             v -1
             a3,3 0 0 0 -3,-3
             h -14
             a3,3 0 0 0 -3,3
             z
             "
             [attr.fill]=[changeColor]
    />
  </svg>
</div>
<button >Click</button>