<div class="board-main">
  <svg viewBox="0 0 850 320" xmlns="http://www.w3.org/2000/svg">
    <g *ngFor="let item of arr; let i = index" >
      <path
        [attr.d]="[getDef(i)]"
        [ngClass]="{
          'idle': state(i) == 0,
          'inter-one': state(i) == 1,
          'inter-two': state(i) == 2,
          'sorted': state(i) == 3,
          'glow':state(i)==4
        }"
      ></path>
      <title>{{ height(i) }}</title>
      <animate
        *ngIf="sorted"
        attributeName="fill"
        values="red;yellow;red"
        dur="4s"
        repeatCount="indefinite"
      />
    </g>
  </svg>
</div>
<button (click)="clickMe()">Clck Me</button>
